{
    "githubUser": "GitHubUserName",
    "profile": {
        "showLocation": true,
        "class": "is-primary",
        "interests": [
            {
                "title": ".Net",
                "sizeClass": "is-large",
                "colorClass": "is-dark"

            },
            {
                "title": "Java",
                "sizeClass": "is-medium",
                "colorClass": "is-primary"

            },
            {
                "title": "JavaScript",
                "sizeClass": "is-small",
                "colorClass": "is-warning"

            }
        ]
    },
    "social": [
        {
            "service": "twitter",
            "url": "http://twitter.com"
        },
        {
            "service": "stack-overflow",
            "url": "http://stackoverflow.com"
        }
    ],
    "sections": [
        {
            "title": "C#",
            "class": "is-primary",
            "repos": ["ProjectA", "ProjectB"]
        },
        {
            "title": "JavaScript",
            "class": "is-warning",
            "repos": ["ProjectB", "ProjectC"]
        }
    ],
    "repositoryOverrides": {
        "repo-name": {
            "homepage": "https://new-homepage.com"
        }
    }  
}
